body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px;
}

.logo h1 {
  font-family: "Moqups", sans-serif;
  margin-left: 15%;
  font-size: 24px;
  color: #333;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border: 1px solid #333;
  padding: 10px 20px;
  border-radius: 4px;
}

nav ul li a:hover {
  background-color: #f0f0f0;
}

main {
  padding: 40px;
  background-color: #fff;
}

.intro {
  text-align: center;
  margin-bottom: 60px;
}

.intro h2 {
  font-size: 32px;
  margin-left: 30%;
  color: #333;
  width: 40%;
}

.intro p {
  color: #6c757d;
  margin-bottom: 5%;
}

.content {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 50%;
}

.right-form {
  width: 30%;
  padding: 20px;
  justify-content: center;
  justify-items: center;
  background-color: #e9ecef;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 80%;
  height: 10%;
  margin-bottom: 20px;
  margin-left: 20%;
}

blockquote {
  font-size: 16px;
  color: #6c757d;
  margin: 20px 0;
  text-align: center;
  font-style: italic;
}

h5 {
  font-weight: bold;
  font-size: 13px;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.author-img {
  width: 50px;
  height: 50px;
  background-color: #e9ecef;
  border-radius: 50%;
  margin-bottom: 10px;
}

.author p {
  margin: 0;
  color: #6c757d;
  text-align: center;
  font-style: italic;
  font-size: 11px;
}

.right-form h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.right-form p {
  color: #6c757d;
  font-size: 14px;
  width: 70%;
  margin-bottom: 65px;
}

form label {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

form input {
  width: 93%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  border-width: 3px;
  border-style: solid;
}

form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  border-width: 3px;
  border-style: solid;
}

form button {
  background-color: #333;
  width: 100%;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

.features {
  text-align: left;
  margin-top: 70px;
  margin-bottom: 70px;
}

.features p {
  color: #333;
  margin-bottom: 40px;
  font-weight: 600;
  line-height: 25px;
  font-size: 17px;
  width: 50%;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feature-number {
  width: 30px;
  height: 30px;
  background-color: #e9ecef;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #6c757d;
}

.feature-item p {
  margin: 0;
  margin-left: 15px;
  font-size: 13px;
  color: #6c757d;
}

.section-title {
  background-color: #e9eef3;
  text-align: center;
  padding: 50px 0;
}

.section-title h2 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

.packages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 20px;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.package {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 20px;
  flex-basis: 30%;
  box-sizing: border-box;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #e9ecef;
  border-radius: 50%;
  margin-top: 15px;
}

.icon img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-top: 15px;
}

.package h3 {
  margin-top: -35px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-left: 65px;
}

.package p {
  color: #666;
  font-size: 12px;
  width: 57%;
  margin-left: 65px;
}

@media (max-width: 768px) {
  .packages {
    flex-direction: column;
  }

  .package {
    flex-basis: 100%;
  }
}

.container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
}

h1 {
  color: #333;
}

.container p {
  line-height: 1.6;
  color: #555;
  width: 52%;
  margin-left: 23%;
  font-size: 15px;
}

.call-to-action {
  background-color: #333;
  color: #fff;
  padding: 15px 50px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
}

.moqups {
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 8%;
  font-size: 20px;
}

.legal {
  margin-bottom: 5px;
}

.legal a {
  color: #555;
  margin: 0 10px;
  text-decoration: none;
  font-size: 12px;
}

footer .copyright {
  font-size: 14px;
  color: #777;
}
